@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Helvetica', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Additional classes for using the imported fonts */

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-lusitana {
  font-family: 'Lusitana', serif;
}


.font-inter {
  font-family: 'Inter', sans-serif;
}


.text-custom-lifr {
  color: #ff40ff;
}

.text-custom-ifr {
  color: #ff2700;; /* Replace with the exact hex code if different */
}

.text-custom-vfr {
  color: #07c502;; /* Replace with the exact hex code if different */
}

.text-custom-mvfr {
  color: #236ed8;; /* Replace with the exact hex code if different */
}

/* Added this so the outside overflow bar doesnt appear */
body {
  overflow: hidden;
}

